@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    box-sizing: border-box;
    color: #616161;
    background-color: #eff5f9;
}

h1 {
    text-align: center;
}

form p {
    display: none;
}

input[type=text] {
    padding: 0.5rem 1.6rem;
    width: 40%;
    border: 1px solid gray;
    border-radius: 20px;
}
 #form button {
     font-size: 1.1rem;
     background-color: white;
     color: gray;
     transform-origin: center center;
     transform: translateX(-3rem);
     border: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.container div {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    color: white;
    box-shadow: 5px 5px 10px #d0d0d0;
}

#city {
    background: linear-gradient(0deg, rgb(27, 105, 139) 0%, rgba(180,221,232,1) 100%);
}

#temperature {
    background: linear-gradient(0deg, rgb(42, 70, 158) 0%, rgba(180,207,232,1) 100%);
}

#humidity {
    background: linear-gradient(0deg, rgb(117, 52, 156) 0%, rgba(180,188,232,1) 100%);
}

#wind {
    background: linear-gradient(0deg, rgba(150,46,130,1) 0%, rgba(216,180,232,1) 100%);
}

#description {
    background: linear-gradient(0deg, rgba(150,46,107,1) 0%, rgb(250, 199, 235) 100%);
}

#feels_like {
    background: linear-gradient(0deg, rgba(150,46,76,1) 0%, rgb(243, 196, 206) 100%);
}

@media screen and (max-width: 550px) {
    input[type=text] {
        width: 60%;
    }
}

@media screen and (max-width: 390px) {
    input[type=text] {
        width: 70%;
    }
}